nav {
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 44px 0 rgba(45, 45, 45, .23), 0 2px 4px 0 rgba(45, 45, 45, .05);

  .search-container {
    width: 100%;
  }

  input.form-control {
    border-radius: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid lighten(#000, 90%);
    outline: none !important;
    width: 100%;

    &:focus {
      //border: 0 !important;
      border-color: lighten(#000, 90%) !important;
      box-shadow: none !important;
    }

    &:disabled {
      color: darken(#fff, 70%);
    }
  }

  input + .input-focus-bar {
    display: none;
  }

  input:focus + .input-focus-bar {
    display: block;
  }

  .navbar-nav {
    align-items: center;
  }

  .login-btn{
    min-width: 150px;
  }
}

.input-focus-bar {
  position: relative;
  top:-2px;
  height: 2px;
  margin-bottom: -1px;
  width: 0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * 2px);
  z-index: 10;
  animation: animatedGradient 3s ease alternate infinite, grow  1s ease-out forwards;
  background-size: 300% 300%;
}

@keyframes grow {
  100% {
    width: 100%;
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
